input[type=submit] {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff7753), color-stop(1, #ff5146));
	background:-moz-linear-gradient(top, #ff7753 5%, #ff5146 100%);
	background:-webkit-linear-gradient(top, #ff7753 5%, #ff5146 100%);
	background:-o-linear-gradient(top, #ff7753 5%, #ff5146 100%);
	background:-ms-linear-gradient(top, #ff7753 5%, #ff5146 100%);
	background:linear-gradient(to bottom, #ff7753 5%, #ff5146 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7753', endColorstr='#ff5146',GradientType=0);
	background-color:#ff7753;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #ff5146;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:9pt;
	padding:5px 15px;
	text-decoration:none;
	line-height:20px;
}

input[type=submit]:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fe5143), color-stop(1, #fe5149));
	background:-moz-linear-gradient(top, #fe5143 5%, #fe5149 100%);
	background:-webkit-linear-gradient(top, #fe5143 5%, #fe5149 100%);
	background:-o-linear-gradient(top, #fe5143 5%, #fe5149 100%);
	background:-ms-linear-gradient(top, #fe5143 5%, #fe5149 100%);
	background:linear-gradient(to bottom, #fe5143 5%, #fe5149 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe5143', endColorstr='#fe5149',GradientType=0);
	border:1px solid #fe5149;
}

input[type=submit]:active {
	position:relative;
	top:1px;
}

input[type=reset] {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fefefe), color-stop(1, #dedede));
	background:-moz-linear-gradient(top, #fefefe 5%, #dedede 100%);
	background:-webkit-linear-gradient(top, #fefefe 5%, #dedede 100%);
	background:-o-linear-gradient(top, #fefefe 5%, #dedede 100%);
	background:-ms-linear-gradient(top, #fefefe 5%, #dedede 100%);
	background:linear-gradient(to bottom, #fefefe 5%, #dedede 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#dedede',GradientType=0);
	background-color:#e9e9e9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #bebebe;
	display:inline-block;
	cursor:pointer;
	color:#444444;
	font-size:9pt;
	padding:5px 15px;
	text-decoration:none;
	line-height:20px;
}

input[type=reset]:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fdfdfd), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #fdfdfd 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #fdfdfd 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #fdfdfd 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #fdfdfd 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #fdfdfd 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e9e9e9',GradientType=0);
	border:1px solid #bebebe;
}

input[type=reset]:active {
	position:relative;
	top:1px;
}

.button {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fefefe), color-stop(1, #dedede));
	background:-moz-linear-gradient(top, #fefefe 5%, #dedede 100%);
	background:-webkit-linear-gradient(top, #fefefe 5%, #dedede 100%);
	background:-o-linear-gradient(top, #fefefe 5%, #dedede 100%);
	background:-ms-linear-gradient(top, #fefefe 5%, #dedede 100%);
	background:linear-gradient(to bottom, #fefefe 5%, #dedede 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#dedede',GradientType=0);
	background-color:#e9e9e9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #bebebe;
	display:inline-block;
	cursor:pointer;
	color:#444444;
	font-size:9pt;
	padding:5px 15px;
	text-decoration:none;
	line-height:20px;
}

.button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fdfdfd), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #fdfdfd 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #fdfdfd 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #fdfdfd 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #fdfdfd 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #fdfdfd 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e9e9e9',GradientType=0);
	border:1px solid #bebebe;
}

.button:active {
	position:relative;
	top:1px;
}

.fileAttachButton {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fefefe), color-stop(1, #dedede));
	background:-moz-linear-gradient(top, #fefefe 5%, #dedede 100%);
	background:-webkit-linear-gradient(top, #fefefe 5%, #dedede 100%);
	background:-o-linear-gradient(top, #fefefe 5%, #dedede 100%);
	background:-ms-linear-gradient(top, #fefefe 5%, #dedede 100%);
	background:linear-gradient(to bottom, #fefefe 5%, #dedede 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fefefe', endColorstr='#dedede',GradientType=0);
	background-color:#e9e9e9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #bebebe;
	display:inline-block;
	cursor:pointer;
	color:#444444;
	font-size:9pt;
	line-height:15px;
	padding:5px 10px;
	text-decoration:none;
}

.fileAttachButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fdfdfd), color-stop(1, #e9e9e9));
	background:-moz-linear-gradient(top, #fdfdfd 5%, #e9e9e9 100%);
	background:-webkit-linear-gradient(top, #fdfdfd 5%, #e9e9e9 100%);
	background:-o-linear-gradient(top, #fdfdfd 5%, #e9e9e9 100%);
	background:-ms-linear-gradient(top, #fdfdfd 5%, #e9e9e9 100%);
	background:linear-gradient(to bottom, #fdfdfd 5%, #e9e9e9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdfdfd', endColorstr='#e9e9e9',GradientType=0);
	border:1px solid #bebebe;
}

.fileAttachButton:active {
	position:relative;
	top:1px;
}